@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

/* azul claro: #A7C9DA */
/* azul escuro: #172334 */
/* vermelho #B10912 */

* {
    box-sizing: border-box;
    
}

* a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #94a5b8;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    background: #B10912;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #9c070f;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header-imagem.jpg')
}

header nav {
    display: flex;
    justify-content: space-between; /*deixa um espaço entre os conteúdos, se somar o mesmo esáço das laterais, da o espço do meio*/
    margin: 0 30px;
}

header nav p {
    font-weight: bold;
}


header nav ul {
    list-style: none;
    display: flex; /*colocar um do ladinho do outro (já vem por padrão flex-direction row (linha)*/
}

header nav ul li {
    margin: 0 15px; /*top/bottom left/right*/
    cursor: pointer;
}

header nav ul li:hover {
    color: rgb(56, 55, 55);
}

.header-content {
    max-width: 475px;
    margin: 150px auto;
    text-align: center;
    color: #1e1e1e;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

.pacotes {
    background: #eeeded;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
}

.pacotes .pacotes-title {
    margin: auto;
    width: 100%;
    text-align: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0px;
    margin: 25px auto;
    position: relative;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0px 0px;
}


.pacotes .card-content {
    padding-left: 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: .8rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: #4f4f4f;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #bd1812;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #172334;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font: bold;
}

footer {
    height: 300px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    color:rgb(34, 33, 33);
}

footer ul a, footer ul li {
    color:rgb(56, 55, 55);
    margin-bottom: 5px;
}

footer ul a:hover {
    color:rgb(235, 230, 230);
}

footer .footer_title {
    font-weight: bold;
    margin-bottom: 15px;
}

.links {
    display: flex;
    margin: 10px;
}

.link {
    margin-left: 50px;
}

.midias {
    margin: 10px 80px;
    text-align: right;
}

.midias p {
    font-weight: bold;
}

.midias a {
    color:rgb(56, 55, 55);
    display: block;
    margin-bottom: 5px;
}

/* RESPONSIVIDADE */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

}

/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        height: calc(100vh - 55px)
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        background: #172334;
        height: 55px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align:center;
    }
 }


/* Portrait tablet to landscape and desktop */
/*@media (max-width: 768px) and (max-width: 979px) { ... }

/* Large desktop */
/*@media (max-width: 1200px) { ... }
